.YMenuContainer {
    width: 100%;
    height: 80px;
    background-color: #FDF200;
    position: fixed;
    top: 64px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 991px) {
        justify-content: space-around;
    }
}

.stationLogo {
    width: 106px;
    height: 50px;
    background-image: url('../../../public/images/czworka-logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s;
}

.stationLogo:hover {
    transform: scale(1.2);
}

.navigation {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    @media (max-width: 1350px) {
        width: 60%;
    }
    @media (max-width: 1200px) {
        margin-left: 55px;
    }
    @media (max-width: 991px) {
        display: none;
    }
}

.navLink {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    transition: transform 0.4s;
    @media (max-width: 1181px) {
        font-size: 20px;
    }
}

.navLink:hover {
    transform: scale(1.2);
}

.decorDot {
    width: 5px;
    height: 5px;
    background-color: #000000;
}

.socialLogos {
    margin-left: 110px;
    display: flex;
    @media (max-width: 1200px) {
        margin-left: 65px;
    }
    @media (max-width: 520px) {
        margin-left: 10px;
    }
}

.socialLink {
    margin: 0 10px;
    @media (max-width: 450px) {
        margin: 0 5px;
    }
}

.socFb {
    width: 30px;
    height: 30px;
    background-image: url('//static.prsa.pl/images/aa6ca8d0-42fe-48cd-8767-bdcff24acb85.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s;
}

.socFb:hover {
    transform: scale(1.2);
}

.socIg {
    width: 30px;
    height: 30px;
    background-image: url('//static.prsa.pl/images/413b8763-1dcf-4a6c-89f2-f9be7f32b7fb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s;
}

.socIg:hover {
    transform: scale(1.2);
}

.socYt {
    width: 30px;
    height: 30px;
    background-image: url('//static.prsa.pl/images/c0a40454-617b-43af-8199-552ac68d3be2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s;
}

.socYt:hover {
    transform: scale(1.2);
}

.blackBelt {
    width: 100%;
    height: 30px;
    background-color: #000000;
    position: fixed;
    top: 140px;
    z-index: 10;
}

.moreButton {
    display: none;
    margin-left: 40px;
    @media (max-width: 991px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        cursor: pointer;
    }
    @media (max-width: 450px) {
        margin-left: 15px;
    }
}

.arrowLeft {
    width: 10px;
    height: 16px;
    background-image: url('../../../public/images/arr-b.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.navigationMobile {
    background-color: #fdf000;
    position: absolute;
    top: 105px;
    right: 0;
    width: 40%;
    height: 360px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 12;
    @media (max-width: 545px) {
        width: 60%;
    }
}