.startCard {
  width:400px;
  height:300px;
  background-color: yellow;
  padding: 2rem;
  display: flex;
  
}

.formContainer {
width:100%;
background-color:white;
padding: 6px;
}

.errorMessage {
  font-size: 12px;
}

.formStartPage {
  display: flex;
  flex-direction: column;
}



