// FONTS
$font-style-popins: 'Poppins', sans-serif;
$font-style-playfair: 'Playfair Display', sans-serif;
$font-style-lato: 'Lato', sans-serif;
$font-style-titilium: 'Titillium Web', sans-serif;
$font-style-oswald: 'Oswald', sans-serif;
$font-style-myriad: 'Myriad Pro', sans-serif;
$font-style-opensans: 'Open Sans', sans-serif;

// COLORS
$color-white: #fff;
$color-background-grey: #e6e6e6;
$color-black: #000;
$color-gray-light: #d7d7d7;
$color-podcast-grey: #797984;
$color-black-light: #212121;
$color-gold: #876211;
$color-radio-red: #f3463f;
$color-person-orange: #af965f;
$color-danger: #ff0e0e;
$mobile-menu-bg-color: #3f9f94;
$color-navbar-hover: #3a3a3a;

// DIMENSIONS
$width-desktop-xxl: 1920px;
$width-desktop: 1366px;
$width-desktop-m: 1190px;
$width-desktop-xs: 991px;
$width-tablet: 768px;
$width-mobile-lg: 600px;
$width-mobile: 425px;
$width-mobile-xs: 375px;
$width-mobile-xxs: 320px;

$prsa-mobile-menu-height: 42px;
$prsa-desktop-menu-height: 106px;
$prsa-tablet-menu-height: 132px;
