@import './variables';

.MenuItem {
  display: block;
  font-family: $font-style-popins;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-right: 1px solid #9d9d9d;
  font-weight: 500;
  @media (max-width: 991px) {
    width: 90%;
    border-right: none;
    border-bottom: 1px solid #9d9d9d;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 0.5rem;
    box-sizing: border-box;
  }
}
