@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider-container {
  height: 100%;
}

.slider-control-centerleft, .slider-control-centerright {
  pointer-events: none !important;
}

.slider-control-centerleft button, .slider-control-centerright button {
  pointer-events: all;
}