
.container {
    padding: 0 2rem;
    
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(169, 168, 159, 0.353);
  }
  